<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjl.dao.user.UserMapper">
    <resultMap id="BaseResultMap" type="com.xjl.entity.user.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>

    </resultMap>

    <sql id="Base_Column_List">
        id, nickname
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
      select <include refid="Base_Column_List" /> from user
    </select>

    <insert id="insert" parameterType="com.xjl.entity.user.User">
        insert into user(id,nickname) VALUES (#{id},#{nickname})
    </insert>

</mapper>